<p>你好 <%= @resource.email %>!</p>

<p>若要重设你的colsha密码，只需点击以下链接。它会将你链至可以创建新密码的网页。</p>

<p><%= link_to '重设你的密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果你并没有试图重设密码，不用担心 — 你的账号依然安全，没有其他人获准访问你的账号。你收到此邮件很可能是别人在重设密码时输错邮件地址所致。
谢谢，</p>
<p>colsha 客户支持服务</p>

